name: CI - Build and Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK 17 and Gradle cache
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          # Habilita la caché para las dependencias de Gradle
          cache: 'gradle'

      - name: Grant execute permission for Gradle
        run: chmod +x ./gradlew

      - name: Build and test with Gradle
        # El comando 'build' compila el código y ejecuta las pruebas.
        # Se elimina 'clean' para aprovechar el caché de Gradle.
        run: ./gradlew build
